.app { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; 
  height: 100vh; 
  background-color: #80B8AB; 
  margin: 0; 
  padding-bottom: 100px; /* Add space for the settings panel */
}

/* PC "phone emulator" look */
@media (min-width: 768px) { 
  #app {
    border: 1px solid #353535;
    border-radius: 0px;
    width: 400px; 
    height: 800px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
}


.loginPage { /* Changed from #loginPage to .loginPage */
  padding: 20px;
  text-align: center;
}

.loginPageLogo { /* Changed from #loginPageLogo to .loginPageLogo */
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  margin-top: 30px; 
}



.loginPage input[type="text"],
.loginPage input[type="password"] {
    width: calc(100% - 22px);     
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d3ece6;
    background-color: #d3ece6;
    border-radius: 5px;
    height: 45px;
    font-size: 22px;
    text-align: center; 
    
}

.loginButton { /* Added styles for login buttons */
  background-color: #75ac9f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 20px;
}


.loginPage h2 {
  margin-bottom: 10px;
  font-size: 35px;
  color: #CD506D; 
}





/*       MAP PAGE          */
.leaflet-popup-content-wrapper {
  margin-top: -10px; /* Adjust as needed */
}


.mainPage {
  position: relative; 
  /* ... other #mainPage styles ... */
}

.mapContainer {
  width: 100%; 
  height: 100%;
}



.topBar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 22px 20px;
  background-color: #80B8AB;
  width: 80%;
  flex-direction: row; /* Restored to default row direction */
  border-radius: 30px;
}

.userName {
  font-weight: bold;
  color: white; /* White text */
  font-size: 1.2em; /* Slightly larger font size */   
}

.loggedInAs {
  color: white; /* White text */
  font-size: 0.8em; /* Slightly larger font size */   
}

.map {
  width: 100%;
  height: calc(100% -20px); /* Reduced map height    - 50px */
  margin-top: 0px; /* Added margin to push map down */
  border-radius: 30px;
}


.settingsIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 40px;
  margin-left: -20px;
}


#settingsPanel {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #fff;
  padding: 50px; /* Increased padding for spacing around content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  width: 80%; 
  max-width: 80%; 
  margin-bottom: 100px; /* Increased margin to push the panel up */
  padding-bottom: 100px; /* Increased padding to add space below buttons*/ 
}

.settingsPanel button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
}




.loginDetailsContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}



.loadingScreen {
  position: fixed; /* Stay in place even if the page scrolls */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80B8AB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000000; /* Ensure it's on top of other elements */
}


.createdBy {
  text-align: center;
  color: darkgray; 
  font-size: 0.8em; /* Adjust font size as needed */
  margin-top: 10px; /* Adjust spacing as needed */
}